# Build directory
build

# Run directory
run

# Local environment setup file
tools/private.sh

# Prevent anyone from accidentally uploading CMakeFiles
CMakeFiles

# Visual Studio garbage
.vs
CMakeSettings.json
out

# Some weirdos use Kate
*.kate-swp
